* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #1929B8;
  --box-shadow: 0 5px 15px rgba(105, 117, 227, 0.7);
  --box-shadow-hover: 0 5px 15px hwb(345 31% 0% / 0.7);
  --light-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --footer-color: rgba(105, 117, 227, 0.25);
  --light-blue: rgba(105, 117, 227, 0.15);
  --black: #0b132a;
  --white: #fff;
  --default: #4f5665;
  --grey: #e0e0e0;
  --yellow: #fea250;
  --orange: #fa620c;
  --pink: #ffbcbc;
  --pinkOranges: #fa8072;
  --blue: #389af5;
  --brown: #a95e19;
  --red-orange-crayola: hsl(0, 100%, 66%);
  --space-cadet: hsl(249, 37%, 19%);
  --pistachio: hsl(88, 50%, 60%);
  --cultured: #f1f2f4;
  --saffron: hsl(45, 91%, 58%);
  --fontColor: hsl(240, 9%, 51%);
  --font-family-pr: "Nunito", sans-serif;
  --light-gray: #78788c;
  --hoverColor: #ff507d;
}
body {
  font-family: "Montserrat", sans-serif;
}

.footer--main {
  position: relative;
  width: 100%;
  height: 430px;
  padding: 50px 100px;
  background: #6975e340;
}

.footer-Codevo {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-direction: column;
  padding: 10px;
  max-width: 38%;
}
.footerflexhead {
  display: flex;
  align-items: center;
}

.footerflexhead img {
  width: 30px;
  margin-right: 10px;
}
.footerflexhead .footerhading1 {
  font-family: var(--font-family-pr);
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-Codevo p {
  font-family: var(--font-family-pr);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  color: var(--default);
}
.footer-Codevo h3 {
  font-family: var(--font-family-pr);
  font-size: 22px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}
.footer-Codevo ul {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.footer-Codevo li {
  list-style: none;
  outline: none;
  width: 40px;
  height: 40px;
  margin: 0px 7px;
  background-color: #6975e3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  font-weight: 800;
  cursor: pointer;
  transition: 0.4s all;
}
.footer-Codevo li:hover {
  transform: translateY(-10px);
  background-color: var(--hoverColor);
  box-shadow: var(--box-shadow-hover);
}
.footer-Codevo i {
  font-size: 22px;
  color: var(--white);
}
.Email-Send input {
  width: 290px;
  height: 50px;
  padding: 20px 10px;
  margin: 20px 0px;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 24px;
  border: 2px solid #eeee;
  font-family: var(--font-family-pr);
  font-weight: 500;
  background-color: #eeeeee;
}
.Email-Send ::placeholder {
  font-size: 20px;
}
.Email-Send :focus {
  border: 2px solid var(--primary-color);
}
.sendMe {
  font-size: 20px;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 15px;
  margin: 0px 12px;
  cursor: pointer;
  transition: 0.6s all;
  border-radius: 4px;
  background: var(--primary-color);
  text-transform: capitalize;
}
button:hover {
  background-color: var(--hoverColor);
  color: #fff;
  box-shadow: var(--box-shadow-hover);
}
.Product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Product h2 {
  font-family: var(--font-family-pr);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
  color: #0b132a;
}
.Product li {
  list-style: none;
}
.Product li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--default);
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s all;
  line-height: 28px;
}
.Product li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

/* ===============Quick--Links=========== */
.Quick--Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Quick--Links h2 {
  font-family: var(--font-family-pr);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 17px;
}
.Quick--Links li {
  list-style: none;
}
.Quick--Links li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--default);
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s all;
  line-height: 30px;
}
.Quick--Links li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
/* ===============Services=========== */
.Services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Services h2 {
  font-family: var(--font-family-pr);
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 50px;
  color: #0b132a;
  margin-bottom: 15px;
}
.Services li {
  list-style: none;
}
.Services li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--default);
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s all;
  line-height: 30px;
}
.Services li a:hover {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.Copyright {
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font-family-pr);
  font-size: 18px;
  font-weight: 500;
  color: var(--default);
}
